/*ON LOAD DEFAULT CSS, NO THEMING IN HERE*/

* {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.sw-mystart-nav.sw-mystart-dropdown.schoollist, #gb-header-links {
	display: none !important;
}
#sw-search-input {
	outline: none;
}
.icon-font {
	outline: none;
}
#cs-sw-footer-outer {
	display: none;
}
.ui-article-description h3 {
	margin-top: 20px;
}
#pmi-11 {
	display: none;
}
